.DS_Store
chirp
/autom4te.cache
aclocal.m4
compile
config.log
config.status
configure
configure~
depcomp
install-sh
install-sh~
Makefile
Makefile.in
missing
/src/.dirstamp
/src/.deps/
/src/'*.o'
/src/lib/.deps/
/src/lib/.dirstamp/

